<div class="p-grid">
  <div class="p-col-12">
    <p-panel header="LineChart">
      <p-selectButton [options]="selectionTypes" (onChange)="onSelectionType($event)"></p-selectButton>
    </p-panel>
  </div>
</div>
<div class="p-grid">
  <div class="p-col-12">
    <p-panel header="LineChart">
      <p-chart type="line" [data]="collection$ | async"></p-chart>
    </p-panel>
  </div>
</div>
<button pButton type="button" label="Cancel" (click)="cancel()"></button>

