<p-table [value]="collection$ | async" sortMode="multiple">
  <ng-template pTemplate="header">
    <tr>
      <th class="ui-p-1" [pSortableColumn]="'rank'">rank
        <p-sortIcon [field]="'rank'"></p-sortIcon>
      </th>
      <th class="ui-p-2" [pSortableColumn]="'symbol'">symbol
        <p-sortIcon [field]="'symbol'"></p-sortIcon>
      </th>
      <th class="ui-p-3" [pSortableColumn]="'name'">name
        <p-sortIcon [field]="'name'"></p-sortIcon>
      </th>
      <th class="ui-p-4" [pSortableColumn]="'priceUsd'">price
        <p-sortIcon [field]="'priceUsd'"></p-sortIcon>
      </th>
      <th class="ui-p-5" [pSortableColumn]="'marketCapUsd'">market cap
        <p-sortIcon [field]="'marketCapUsd'"></p-sortIcon>
      </th>
      <th class="ui-p-6" [pSortableColumn]="'changePercent24Hr'">24h price change
        <p-sortIcon [field]="'changePercent24Hr'"></p-sortIcon>
      </th>
      <th class="ui-p-6" [pSortableColumn]="'amount'">amount
        <p-sortIcon [field]="'amount'"></p-sortIcon>
      </th>
      <th>actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td class="ui-p-1">{{item.rank}}</td>
      <td class="ui-p-2">{{item.symbol}}</td>
      <td class="ui-p-3">{{item.name}}</td>
      <td class="ui-p-4"><app-coin-row [value]="item.priceUsd"></app-coin-row></td>
      <td class="ui-p-5">{{item.marketCapUsd}}</td>
      <td class="ui-p-6">{{item.changePercent24Hr}}</td>
      <td class="ui-p-6">{{item.amount}}</td>
      <td>
        <button pButton type="button" icon="fa fa-edit" class="mr-1" (click)="onEdit(item)"></button>
        <button pButton type="button" icon="fa fa-eye" class="mr-1" (click)="onDetail(item)"></button>
        <button pButton type="button" icon="fa fa-trash" class="mr-1 ui-button-danger" (click)="onDelete(item)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
