<div class="p-grid">
  <div class="p-col-6">
    <app-search [actions]="actions"></app-search>
  </div>
  <div class="p-col-6">
    <app-asset-select (selectedItems)="onSelectedItem($event)"></app-asset-select>
  </div>
</div>

<div class="p-grid">
  <div class="p-md-12">
    <app-coin-list></app-coin-list>
  </div>
</div>
